<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @poll.name %>
</p>

<p>
  <strong>Alcohol:</strong>
  <%= @poll.alcohol %>
</p>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Destroy', @poll, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', polls_path %>
